:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
section {
    margin: 0 auto;
    width: max-content;
    display: grid; 
    text-align: center;
    justify-items: center;
    background: white;
      /*  border: 1px solid black;    */
}
#question-section{
    justify-items: center;
    padding: 20px 0;
    gap: 20px;
    padding: 20px;
    background: rgb(8, 117, 0);
    border: 1px solid black;
    color: white;
    text-shadow: 4px 4px 7px black;
    font-size: 1.5em;
}
textarea{
    width: 250px;
    height: 100px;
}
.hidden{
    display: none;
}
.crystal-ball{
    font-size: 20em;
    margin: -30px 0;
    grid-row: 2;
    grid-column: 1;
}
#answer-section{
    padding: 20px;
    background: rgb(8, 117, 0);
    border: 1px solid black;
}
#answer-display{
    grid-row: 2;
    grid-column: 1;
    margin-top: 12em;
    color: white;
    text-shadow: 4px 4px 7px black;
    font-size: 1.5em;
    margin-left: 0.7em;
    opacity: 0;
    transition: opacity .5s ease-in .5s;
    z-index: 100;
}

#answer-display.show{
    opacity: 1;
}
#question-display{
    color: white;
    text-shadow: 4px 4px 7px black;
    font-size: 1.5em;
}

.shake {
    animation: shake 4.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate(0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

.fade-in{
    animation: fade-in 0.82s ease-out both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/*
initial keyframe shake [ -1 2 -4 4] but thats no fun
*/
@keyframes shake {
    10%, 90% {
      transform: translate(-50px, 0);
    }
    
    20%, 80% {
      transform: translate(100px, 0);
    }
  
    30%, 50% {
      transform: translate(-150px, 0);
    }
  
    40%, 60% {
      transform: translate(200px, 0);
    }
    50%, 50% {
        transform: translate(-300px, 0);
      }
      
      60%, 40% {
        transform: translate(400px, 0);
      }
    
      70%, 30% {
        transform: translate(-600px, 0);
      }
    
      80%, 40% {
        transform: translate(900px, 0);
      }
  }